examples/flows.json
[
    {
        "id": "2280e374e444e7a3",
        "type": "tab",
        "label": "フロー 1",
        "disabled": false,
        "info": "",
        "env": [],
        "_mcu": {
            "mcu": true
        }
    },
    {
        "id": "3e0127b235aace99",
        "type": "drawface",
        "z": "2280e374e444e7a3",
        "name": "",
        "face": "{\"eye\":{\"pupillary_distance\":140,\"vPos\":80,\"right\":{\"enable\":true,\"x\":0,\"y\":0,\"w\":30,\"h\":30,\"rotation\":0,\"arcStart\":0,\"arcEnd\":360,\"lineWidth\":5,\"drawMode\":\"fill\"},\"left\":{\"enable\":true,\"x\":0,\"y\":0,\"w\":30,\"h\":30,\"rotation\":0,\"arcStart\":0,\"arcEnd\":360,\"lineWidth\":5,\"drawMode\":\"fill\"}},\"mouth\":{\"enable\":true,\"vPos\":160,\"shape\":\"line\",\"line\":{\"x\":0,\"y\":0,\"w\":90,\"lineWidth\":10,\"curveStrength\":0},\"oval\":{\"x\":0,\"y\":0,\"w\":90,\"h\":10,\"rotation\":0,\"arcStart\":0,\"arcEnd\":360,\"lineWidth\":10,\"drawMode\":\"fill\"}}}",
        "moddable_manifest": {
            "include": [
                {
                    "git": "https://github.com/mshioji/node-red-contrib-mcu-draw-face.git"
                }
            ]
        },
        "_mcu": {
            "mcu": true
        },
        "x": 340,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "d656105d31a9681d",
        "type": "inject",
        "z": "2280e374e444e7a3",
        "name": "talk",
        "props": [
            {
                "p": "payload.cmd",
                "v": "talk",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "_mcu": {
            "mcu": true
        },
        "x": 110,
        "y": 180,
        "wires": [
            [
                "3e0127b235aace99"
            ]
        ]
    },
    {
        "id": "cfaf0b377ded03c5",
        "type": "inject",
        "z": "2280e374e444e7a3",
        "name": "talk_stop",
        "props": [
            {
                "p": "payload.cmd",
                "v": "talk_stop",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "_mcu": {
            "mcu": true
        },
        "x": 100,
        "y": 220,
        "wires": [
            [
                "3e0127b235aace99"
            ]
        ]
    },
    {
        "id": "ce0eea0f3c432ba3",
        "type": "inject",
        "z": "2280e374e444e7a3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "This is a sample.",
        "payloadType": "str",
        "_mcu": {
            "mcu": true
        },
        "x": 140,
        "y": 460,
        "wires": [
            [
                "f131d38812510d44"
            ]
        ]
    },
    {
        "id": "547788aafe2aece3",
        "type": "inject",
        "z": "2280e374e444e7a3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "これはテストです",
        "payloadType": "str",
        "_mcu": {
            "mcu": true
        },
        "x": 150,
        "y": 500,
        "wires": [
            [
                "f131d38812510d44"
            ]
        ]
    },
    {
        "id": "c4c25363e8ae7e08",
        "type": "complete",
        "z": "2280e374e444e7a3",
        "name": "",
        "scope": [
            "f131d38812510d44"
        ],
        "uncaught": false,
        "_mcu": {
            "mcu": true
        },
        "x": 330,
        "y": 320,
        "wires": [
            [
                "e4c501e564b7175f"
            ]
        ]
    },
    {
        "id": "e4c501e564b7175f",
        "type": "function",
        "z": "2280e374e444e7a3",
        "name": "function 1",
        "func": "const msg_ = {};\nmsg_.payload = {};\nmsg_.payload.cmd = \"talk_stop\";\nreturn msg_;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "_mcu": {
            "mcu": true
        },
        "x": 380,
        "y": 260,
        "wires": [
            [
                "3e0127b235aace99"
            ]
        ]
    },
    {
        "id": "f131d38812510d44",
        "type": "mcu_elevenlabs",
        "z": "2280e374e444e7a3",
        "name": "",
        "volume": "32",
        "moddable_manifest": {
            "include": "manifest.json"
        },
        "_mcu": {
            "mcu": true
        },
        "x": 360,
        "y": 460,
        "wires": []
    },
    {
        "id": "525242db4bd1e31a",
        "type": "function",
        "z": "2280e374e444e7a3",
        "name": "function 2",
        "func": "const msg_ = {};\nmsg_.payload = {};\nmsg_.payload.cmd = \"talk\";\nreturn msg_;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "_mcu": {
            "mcu": true
        },
        "x": 200,
        "y": 260,
        "wires": [
            [
                "3e0127b235aace99"
            ]
        ]
    },
    {
        "id": "64cba97e1313cfab",
        "type": "inject",
        "z": "2280e374e444e7a3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "This is a sample.",
        "payloadType": "str",
        "_mcu": {
            "mcu": true
        },
        "x": 140,
        "y": 420,
        "wires": [
            [
                "f131d38812510d44"
            ]
        ]
    },
    {
        "id": "5eb655ae5fc56e7d",
        "type": "complete",
        "z": "2280e374e444e7a3",
        "name": "",
        "scope": [
            "ce0eea0f3c432ba3",
            "547788aafe2aece3",
            "64cba97e1313cfab"
        ],
        "uncaught": false,
        "_mcu": {
            "mcu": true
        },
        "x": 90,
        "y": 320,
        "wires": [
            [
                "525242db4bd1e31a"
            ]
        ]
    }
]